
html{

  font-family: 'Roboto', sans-serif;
}

body {

  
  font-size: 18px;
  font-weight: 300;
  line-height: 1.35;
  color: #eee;
  text-rendering: optimizelegibility;
  position: relative;
  background: -webkit-linear-gradient(135deg, 	#222 20%, 	 black 85%);
  background: linear-gradient(135deg, 	 #222 20%,  black 85%);
  
}


h1 {
  font-size: 500%;
}

ul,.Sub-menu {
  list-style: none;
  text-decoration: none;
}

li,.Sub-menu{
  position: relative;
  text-align: center;
  
}

.Sub-menu a{
  text-decoration: none;
  color: black;
  margin-top: 3px;
}


ul .dropdown-menu a:hover{
  background-color:  #f6b93b;
  color: black;
 
  
  
}

.Sub-menu a:hover{
  background-color:  #f6b93b;
  opacity: 0.8;
  color: black;
  
}




header {
  
  background-size: cover;
  text-align: center;
  display: table;
  width: 100%;
  height: 100vh;
}

header .header-wrap {
  display: table-cell;
  vertical-align: middle;
}

